<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head(title='books')}">
    <link rel="stylesheet" href="/css/web-thymeleaf.css">
</head>

<script src="/js/book-actions.js"></script>

<body>
<p th:replace="~{fragments/common :: header}"></p>

<h1>Book List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Authors</th>
        <th>Actions</th> <!-- New column for actions -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td>
            <span th:each="author, i : ${book.authors}">
                <span th:text="${author.name}"></span>
                <span th:if="${!i.last}">, </span>
            </span>
        </td>
        <td>
            <!-- Delete button with book ID as a data attribute -->
            <button class="delete-button" th:data-id="${book.id}">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
